[submodule "external/Vulkan-Docs"]
	path = external/Vulkan-Docs
	url = https://github.com/KhronosGroup/Vulkan-Docs.git
[submodule "external/Vulkan-Loader"]
	path = external/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm
